body{
    background-image: url('../images/draw1.webp');
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
}

h1{
    overflow: hidden;
    text-align: center;
    padding : 5px;
    margin-top: 50px;
    margin-bottom: 30px;
}

p{
    overflow: hidden;
    text-align: center;
    padding : 5px;
    font-size: 21px;
}

.anchor{
    overflow: hidden;
    margin-right: 500px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}
